@media screen and (min-width: 1200px) {
    .card-img-top {
        width: 75%;
        height: 75%;
        align-self: center;
    }
}

.card {
    width: 250px;
    margin-right: 20px;
}

.card a {
    font-size: 20px;
}

.card p {
    height: 75px;
}

.alert.alert-primary {
    margin-bottom: 0%;
}